<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/adminlogin.css">
    <title>Admin Login</title>
    <link rel="icon" href="/images/logo.jpeg" type="image/x-icon">
</head>

<body>
    <div id="pd">
        <p class="plasma">
            PLASMA
        </p>
        <p id="dia">DIAGNOSTICS</p>
    </div>
    <p id="adhead">Admin Login</p>

    <div id="login">
        <form action="/loggedInAdmin" method="POST">
            <input type="text" name="fname" placeholder="User ID" class="data" required><br>
            <input type="password" name="Password" class="data" placeholder="Password" required>
            <input type="submit" value="Login" id="submitbtn">
        </form>
    </div>

</body>

</html>