<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/CSS3.css">
    <title>Plasma Diagnostics - Contact Us</title>
    <meta name="description" content="Your one stop location to book various tests online. Book different tests like Covid-19 RT-PCR, Blood Test, MRI Scan, CT Scan and much more at affordable prices">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="/images/logo.jpeg" type="image/x-icon">
</head>

<body>
    <img src="/images/247.png" alt="logoimg" id="logo">
    <div id="headdiv">
        <img src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" alt="mail" class="headicon">
        <p class="head"><b>Email</b><br><a href="mailto:plasmadiagnostics.bihar@gmail.com" class="links">plasmadiagnostics.bihar@gmail.com</a> </p>
        <img src="https://cdn.iconscout.com/icon/free/png-256/phone-2666572-2212584.png" alt="phone" class="headicon">
        <p class="head"><b>Helpline</b> <br><a href="tel:+916209091000" class="links">6209091000, </a><a href="tel:+916209092000" class="links">6209092000, </a><a href="tel:+919386362196" class="links">9386362196</a></p>
    </div>
    <div id="pd">
        <p class="plasma">
            PLASMA
        </p>
        <p id="dia">DIAGNOSTICS</p>
    </div>

    <!-- Side Bar Begin-->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <li><a href="/">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="contactus">Contact us</a></li>
        <!-- <div class="dropdown">
            <li class="dropbtn">Contact us</li>
            <div class="dropdown-content">
                <a href="#">6209092000</a>
                <a href="#">9386362196</a>
            </div>
        </div> -->
        <div class="dropdown">
            <li class="dropbtn">Tests Available</li>
            <div class="dropdown-content">
                <a href="bloodtest">Blood Test</a>
                <a href="mri">MRI</a>
                <a href="ctscan">CT Scan</a>
                <a href="covid">Covid-19 test</a>
            </div>
        </div>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script>
        var modal = document.getElementById("modalbox");
        var buttonsb = document.getElementById("triggermodal2");
        var span = document.getElementsByClassName("close")[0];
        buttonsb.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <!-- Side Bar End -->

    <nav id="navbar">
        <ul class="list">
            <li><a href="/">Home</a></li>
            <li><a href="aboutus">About us</a></li>
            <!-- <div class="dropdown">
                <li class="dropbtn">Contact us</li>
                <div class="dropdown-content">
                    <a href="#">6209092000</a>
                    <a href="#">9386362196</a>
                </div>
            </div> -->
            <li><a href="contactus">Contact us</a></li>
            <div class="dropdown">
                <li class="dropbtn">Tests Available</li>
                <div class="dropdown-content">
                    <a href="bloodtest">Blood Test</a>
                    <a href="mri">MRI</a>
                    <a href="ctscan">CT Scan</a>
                    <a href="covid">Covid-19 test</a>
                </div>
            </div>
        </ul>
    </nav>

    <div class="contact" id="section2">
        <h4>Contact Information</h4>
        <p class="infotxt2">Email - plasmadiagnostics.bihar@gmail.com</p>
        <p class="infotxt2">Helpline - 6209091000, 6209092000, 9386362196</p>
    </div>

    <p id="reach">Reach Out to Us</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.010931955645!2d85.09008611501773!3d25.604552983708345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed574000557ec5%3A0x213cc5d44e36b852!2sPlasma%20Diagnostics!5e0!3m2!1sen!2sin!4v1622614749474!5m2!1sen!2sin" width="100%" height="400vw" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <div id="footer">
        <header>
            <nav class="footnav">
                <ul>
                    <li id="foottitle">PLASMA DIAGNOSTICS</li>
                    <li><a href="#"><b>Quick Links :</b></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="aboutus">About us</a></li>
                    <li><a href="contactus">Contact us</a></li>
                </ul>
            </nav>
        </header>

        <header>
            <nav class="social ">
                <ul>
                    <li><b>Connect with us: </b></li>
                    <li>
                        <a href="# " class="fa fa-facebook "></a>
                    </li>
                    <li>
                        <a href="# " class="fa fa-instagram "></a>
                    </li>
                    <li>
                        <a href="# " class="fa fa-linkedin "></a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <script>
        const nav = document.querySelector("#navbar");
        const NavTop = nav.offsetTop;

        function fixnavbar() {
            if (window.scrollY >= NavTop) {
                document.body.style.paddingTop = nav.offsetHeight + "px";
                document.body.classList.add("fixed-nav");
            } else {
                document.body.style.paddingTop = 0;
                document.body.classList.remove("fixed-nav");
            }
        }
        window.addEventListener("scroll", fixnavbar);
    </script>

</body>

</html>