<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Navbar.css">
    <title>Nav</title>
</head>

<body>
    <!-- Side Bar Begin-->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <li><a href="adminOrder">Order Details</a></li>
        <li><a href="adminResWithoutOrder">Upload result without having order details</a></li>
        <li><a href="adminResWithOrder">Upload Results having order details</a></li>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script>
        var modal = document.getElementById("modalbox");
        var buttonsb = document.getElementById("triggermodal2");
        var span = document.getElementsByClassName("close")[0];
        buttonsb.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <!-- Side Bar End -->

    <nav id="navbar">
        <ul class="list">
            <li><a href="adminOrder">Order Details</a></li>
            <li><a href="adminResWithoutOrder">Upload result without having order details</a></li>
            <li><a href="adminResWithOrder">Upload Results having order details</a></li>
        </ul>
    </nav>

    <script>
        const nav = document.querySelector("#navbar");
        const NavTop = nav.offsetTop;

        function fixnavbar() {
            if (window.scrollY >= NavTop) {
                document.body.style.paddingTop = nav.offsetHeight + "px";
                document.body.classList.add("fixed-nav");
            } else {
                document.body.style.paddingTop = 0;
                document.body.classList.remove("fixed-nav");
            }
        }
        window.addEventListener("scroll", fixnavbar);
    </script>

</body>

</html>